# Start the keystore2 service (GKI bring-up: non-critical, console for abort text).
service keystore2 /system/bin/keystore2 /data/misc/keystore
    class early_hal
    user root
    group root
    task_profiles ProcessCapacityHigh
    rlimit memlock unlimited unlimited
    console
    setenv LD_LIBRARY_PATH /apex/com.android.i18n/lib64:/apex/com.android.runtime/lib64:/system/lib64
# critical window=0
