on early-boot
    setprop debug.renderengine.backend skiaglthreaded
    setprop debug.renderengine.graphite 0
    setprop debug.renderengine.vulkan 0

service surfaceflinger /system/bin/surfaceflinger
    class core animation
    user system
    group graphics drmrpc readproc
    capabilities SYS_NICE
    onrestart restart --only-if-running zygote
    task_profiles HighPerformance
    console
    setenv LIBGL_DRIVERS_PATH /vendor/lib64/dri
    setenv EGL_PLATFORM android
